$light-green-color: #549C74;
// Cadet Blue - a kind of light green
$background-color: #D0B6AB;
// Rosy Brown - a kind of pink
$dark-text-color: #2D3C24;
// Dark Olive Green - a kind of dark green. Good for dark text
$white-text-color: #EBE8E7;
// White Smoke - a kind of light pink. Good for white text
$secondary-background-color: #818985;
// Slate Grey - a kind of grey. Good for backgrounds
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    text-align: center;
    background-color: $background-color;
    border: 0;
    margin: 0;
    padding-right: 15vw;
}

p,
h1,
h2 {
    color: $light-green-color;
}

p,
h1,
h2,
h3 {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

h1 {
    font-size: 1.2em;
}

h3 {
    color: $dark-text-color;
}

.icon {
    text-align: left;
    display: block;
}
.icon img{
    width:5%;
    height: auto;
    padding-left: 1%;
}


/*Navigation*/

.navigation {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: right;
    padding-left: 1vw;
    padding-right: 5%;
    position: fixed;
    right: 0;
    background-image: url();
    background-repeat: no-repeat;
    width: 10%;
    a {
        color: $light-green-color;
        font-size: 1.5em;
        width: 15vw;
        text-decoration: none;
    }
    a:hover,
    a:focus {
        background-color: aliceblue;
        border-radius: 0.2vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }
}


/*End of Navigation*/

.name {
    text-decoration: underline;
    font-style: normal;
}

.image {
    width: 60vw;
    height: auto;
}

.promo {
    width:80%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline; /*flex-end*/
    display: -webkit-flex;
    -webkit-flex-direction:row;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -webkit-align-item: baseline;
    width: 100vw;
    article .companies {
        display: flex;
        flex-direction: column;
        p {
            color: white;
        }
    }
}

.companies img {
    width: 30vw;
    height: 20vw;
    padding: 1%;
}

.site-break {
    background-color: #549C74;
}

#skills {
    background-color: #D0B6AB;
    box-sizing: border-box;
}

.skills {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: #EBE8E7;
    text-align: center;
    padding: 0;
    padding-bottom: 2vw;
    height: 10%;
    display: flex;
    justify-content: center;
    border-radius: 2vw;
}


/* Container for skill bars */

.skill_container {
    width: 80%;
    /* Full width */
    background-color: #f2f2f2;
    /* Grey background */
}

.skill_type {
    width: 10%;
    color: #4CAF50;
    background-color: $white-text-color;
    display: inline;
    margin: 0;
    padding: 0;
}

.java {
    width: 10%;
    background-color: #4CAF50;
}


/* Green */

.games {
    width: 80%;
    background-color: rgb(76, 116, 175);
}


/* Green */

.movies {
    width: 50%;
    background-color: rgb(147, 76, 175);
}


/* Green */

#portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.portfolio {
    color: #D0B6AB;
    font-size: 1.5em;
    background-image: url(../img/tech.jpg);
    border: dashed;
    width: 20%;
    /*how do I set picture transparency to 40vw?*/
}

#about_me {}

#contact {}


/*  Contact form
    ******************************************************/

#contact {
    display: block;
}

.section {
    padding: 3vw 6vw;
}

.form-contact {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    width: 100%;
    margin-bottom: 1rem;
    color: #fff;
}

.form-group:not(:last-child) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #fff;
}

@media only screen and (min-width: 600px) {
    .form-group:not(:last-child) {
        width: 50%;
    }
}

.form-group input,
.form-group textarea,
.form-group button {
    padding: .5rem 1rem;
    border: 0;
}

.form-group label {
    margin-right: 1rem;
    align-items: center;
}

.form-group input {
    flex: 1;
    background-color: $background-color;
    padding: 1rem;
}

.form-group input:focus {
    background-color: $secondary-background-color;
}

.form-group textarea,
.form-group button {
    display: block;
    width: 100%;
    border-radius: .2em;
}

.form-group textarea {
    margin-top: .25rem;
    margin-bottom: 1rem;
}

.form-group button {
    background: #232323;
    color: #fff;
    font-weight: 600;
    align-self: flex-end;
}

.form-label-required::after {
    content: '*';
}